body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Julius Sans One', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: #100E17;
    color: white;
}

.bg , .bg2 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.bg {
    -webkit-clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
    z-index: -1;
    background: #28242F
    
}

.bg2 {
    z-index: -2;
    -webkit-clip-path: polygon(65% 69%, 100% 9%, 100% 100%, 5% 100%);
    clip-path: polygon(65% 69%, 100% 9%, 100% 100%, 5% 100%);
    background: linear-gradient(#28242F,#17141D );
}

.container {
    text-align: center;
    display: grid;
    grid-template-columns: 100% auto;
    height: auto;
    align-self: center;
    margin: 0 50px;
}

img {
    width: 70px;
}

#profile {
    width: 150px;
    border-radius: 50%;
    padding: 2%;
    background-color: #201C29;
    border: 2px solid #201C29;
}

a {
    padding: 0.75%;
    color: whitesmoke;
    margin: 3px;
    padding: 1%;
}

@media only screen and (max-width: 767px) {
    span {
        display: none;
    }
}